doctype html
html
  head
  body
    h1 upload page
    form(action='' method='post' name='submit')
      input(name='chk' type='radio' value="url_ch")
      | URL
      input(name='chk' type='radio' value="file_ch")
      | FILE
      br
      br
      button(type='submit') Submit